footer.footer
  .container
    .footer__inner
      .footer__row
        .footer__title
          h2.footer__major Intersted to woek with our team?
          p.footer__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        .footer__btn Let’s Talk
      .footer__contacts
        .footer__column1
          .footer__logo
            a(href="/")
              img(src="./img/logo_footer.svg" alt="logo")
            .footer__logoTitle Afrianska
          .footer__list
            ul
              li.footer__link.footer__linkA Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              li.footer__link.footer__linkT
                a(href="tel: 6281273124321" target="_blank") +62-812-7313-4321
              li.footer__link.footer__linkE
                a(href="mailto:hello.afrian@gmail.com" target="_blank") hello.afrian@gmail.com

        .footer__column2
          .footer__listContacts
            .footer__listTitle About US
            ul
              li.footer__linkContacts
                a(href="./about.html" target="_blank") About
              li.footer__linkContacts
                a(href="#" target="_blank") What We Do
              li.footer__linkContacts
                a(href="#" target="_blank") Project
              li.footer__linkContacts
                a(href="#" target="_blank") How It Work With Us
        .footer__column2
          .footer__listContacts
            .footer__listTitle Follow US
            ul
              li.footer__linkContacts
                a(href="https://www.instagram.com/" target="_blank") Instagram
              li.footer__linkContacts
                a(href="https://ru-ru.facebook.com/" target="_blank") Facebook
              li.footer__linkContacts
                a(href="https://www.linkedin.com/" target="_blank") LinkedIn
              li.footer__linkContacts
                a(href="https://www.youtube.com/" target="_blank") Youtube
      .footer__copyright 2019 © Afrianska. All rights reserved.
      .popup__form
        .popup__dialog
          .popup__content
            .popup__close
            include form
