.footer__form
  h2.footer__formTitle Send us message
  form.footer__formTotal(action="sender/sender.php" method="POST" novalidate)
    label(for="#username") Full Name
    input#username(type="text" name="name" placeholder="Your Name")
    label(for="#mail") Email
    input#mail(type="email" name="email" placeholder="Your Email")
    span.error(aria-live="polite")
    label(for="#message") Message
    textarea#message(name="message" placeholder="Your Message")
    button.footer__button(type="submit") Submit
div.statusTitle
